name: Publish
on:
  release:
    types: [released, prereleased]
jobs:
  publish:
    name: Release build and publish
    runs-on: macOS-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'
      - name: Check out code
        uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: '21'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache Gradle Caches
        uses: gradle/actions/setup-gradle@v5
      - name: Cache Konan
        id: cache-konan
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan
      - name: Generate xcframeworks
        run: |
          ./gradlew MatomoKMPTracker:assembleMatomoKMPTrackerReleaseXCFramework
          zip -9 -r MatomoKMPTracker.xcframework.zip ./MatomoKMPTracker/build/XCFrameworks/release/MatomoKMPTracker.xcframework
      - uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: MatomoKMPTracker.xcframework.zip
          asset_name: MatomoKMPTracker.xcframework.zip
          tag: ${{ github.ref }}
          overwrite: true
      - name: Publish to MavenCentral
        run: ./gradlew publishAllPublicationsToMavenCentralRepository --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}

